In [1]:
# libraries
import pandas as pd
import numpy as np
# import re

In [2]:
# read CSV into DataFrame, check again
df_raw = pd.read_csv("raw_march_randomness.csv")
df_raw.head(10)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,0,1.0,Overall Rankings,Overall Rankings,Overall Rankings,Overall Rankings,Overall Rankings,Overall Rankings,1,1,...,12,12,13,13,14,14,15,15,16,16
1,1,2.0,Overall Rankings,Team,Final StatCoin Balance,bet each round?,Level,Type,no,no,...,no,no,yes,yes,yes,yes,no,no,yes,yes
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,1,A Fraction Ahead,"$9,000",yes,Pre-College,Team,Yes,300,...,No,800,Yes,300,yes,Free Bet,No,100,Yes,100
4,4,4.0,2,Elidia R,"$8,900",yes,Pre-College,Individual,Yes,Free Bet,...,Yes,800,No,800,Yes,800,No,800,Yes,800
5,5,5.0,3,Mathster's Stupefying 1 Stars,"$8,400",NaN,Pre-College,Team,Yes,800,...,No,800,Yes,300,No,300,No,800,Yes,800
6,6,6.0,4,Dylan M,"$8,000",yes,Pre-College,Individual,Yes,800,...,Yes,800,Yes,800,Yes,800,No,800,Yes,800
7,7,7.0,4,J Fly Money,"$8,000",yes,Pre-College,Individual,Yes,800,...,Yes,800,Yes,800,No,800,No,800,Yes,800
8,8,8.0,4,Vern Dog,"$8,000",yes,Pre-College,Individual,Yes,800,...,Yes,800,Yes,800,Yes,800,No,800,Yes,800
9,9,9.0,7,SiegeChauffantDansLeMercoBenz,"$7,900",yes,College,Team,Yes,800,...,No,800,Yes,800,Yes,800,No,800,Yes,800

In [3]:
df = df_raw.iloc[3:, 2:]
df = df.reset_index(drop=True)
df.columns = ["rank", "team_name", "final_StatCoin_balance", "bet_each_round", "edu_level", "competitor_type",
              "day_1_guess", "day_1_bet", "day_2_guess", "day_2_bet", "day_3_guess", "day_3_bet", "day_4_guess", "day_4_bet",
              "day_5_guess", "day_5_bet", "day_6_guess", "day_6_bet", "day_7_guess", "day_7_bet", "day_8_guess", "day_8_bet", 
              "day_9_guess", "day_9_bet", "day_10_guess", "day_10_bet", "day_11_guess", "day_11_bet", "day_12_guess", "day_12_bet",
              "day_13_guess", "day_13_bet", "day_14_guess", "day_14_bet", "day_15_guess", "day_15_bet", "day_16_guess", "day_16_bet"]

# noticed weird problem, value missing under "bet_each_round"
# so I checked to see if there were multiple like this
    # df[(df["bet_each_round"] != 'yes') & (df["bet_each_round"] != 'no')]
# thankfully only one was missing, so I filled it in logically:
df.at[2,"bet_each_round"] = 'yes'
df.head(10)
# so far so good

,rank,team_name,final_StatCoin_balance,bet_each_round,edu_level,competitor_type,day_1_guess,day_1_bet,day_2_guess,day_2_bet,...,day_12_guess,day_12_bet,day_13_guess,day_13_bet,day_14_guess,day_14_bet,day_15_guess,day_15_bet,day_16_guess,day_16_bet
0,1,A Fraction Ahead,"$9,000",yes,Pre-College,Team,Yes,300,No,300,...,No,800,Yes,300,yes,Free Bet,No,100,Yes,100
1,2,Elidia R,"$8,900",yes,Pre-College,Individual,Yes,Free Bet,No,800,...,Yes,800,No,800,Yes,800,No,800,Yes,800
2,3,Mathster's Stupefying 1 Stars,"$8,400",yes,Pre-College,Team,Yes,800,No,300,...,No,800,Yes,300,No,300,No,800,Yes,800
3,4,Dylan M,"$8,000",yes,Pre-College,Individual,Yes,800,No,Free Bet,...,Yes,800,Yes,800,Yes,800,No,800,Yes,800
4,4,J Fly Money,"$8,000",yes,Pre-College,Individual,Yes,800,No,Free Bet,...,Yes,800,Yes,800,No,800,No,800,Yes,800
5,4,Vern Dog,"$8,000",yes,Pre-College,Individual,Yes,800,No,Free Bet,...,Yes,800,Yes,800,Yes,800,No,800,Yes,800
6,7,SiegeChauffantDansLeMercoBenz,"$7,900",yes,College,Team,Yes,800,No,800,...,No,800,Yes,800,Yes,800,No,800,Yes,800
7,7,Stats Brats,"$7,900",yes,Pre-College,Team,No,300,No,300,...,Yes,300,Yes,800,Yes,800,No,800,Yes,Free Bet
8,7,team brush,"$7,900",yes,Pre-College,Individual,Yes,100,No,100,...,Yes,300,Yes,800,No,300,No,800,Yes,800
9,10,Convallaria,"$7,700",yes,Pre-College,Individual,No,300,Yes,800,...,Yes,Free Bet,No,300,Yes,300,No,800,No,300

In [4]:
# make sure numbers aren't strings

df["rank"] = df["rank"].astype(int)

# I didn't know about the .replace() method for DataFrames!
# code adapted from: https://stackoverflow.com/questions/32464280/converting-currency-with-to-numbers-in-python-pandas
df["final_StatCoin_balance"] = df["final_StatCoin_balance"].replace('[/$,]','', regex=True).astype(int)

# convert all bets to floats (including Free Bets)
for column in ["day_1_bet", "day_2_bet", "day_3_bet", "day_4_bet",
               "day_5_bet", "day_6_bet", "day_7_bet", "day_8_bet",
               "day_9_bet", "day_10_bet", "day_11_bet", "day_12_bet",
               "day_13_bet", "day_14_bet", "day_15_bet", "day_16_bet"]:
    df[column] = df[column].replace('Free Bet', '1500', regex=True)
    df[column] = df[column].astype(float)
df

,rank,team_name,final_StatCoin_balance,bet_each_round,edu_level,competitor_type,day_1_guess,day_1_bet,day_2_guess,day_2_bet,...,day_12_guess,day_12_bet,day_13_guess,day_13_bet,day_14_guess,day_14_bet,day_15_guess,day_15_bet,day_16_guess,day_16_bet
0,1,A Fraction Ahead,9000,yes,Pre-College,Team,Yes,300.0,No,300.0,...,No,800.0,Yes,300.0,yes,1500.0,No,100.0,Yes,100.0
1,2,Elidia R,8900,yes,Pre-College,Individual,Yes,1500.0,No,800.0,...,Yes,800.0,No,800.0,Yes,800.0,No,800.0,Yes,800.0
2,3,Mathster's Stupefying 1 Stars,8400,yes,Pre-College,Team,Yes,800.0,No,300.0,...,No,800.0,Yes,300.0,No,300.0,No,800.0,Yes,800.0
3,4,Dylan M,8000,yes,Pre-College,Individual,Yes,800.0,No,1500.0,...,Yes,800.0,Yes,800.0,Yes,800.0,No,800.0,Yes,800.0
4,4,J Fly Money,8000,yes,Pre-College,Individual,Yes,800.0,No,1500.0,...,Yes,800.0,Yes,800.0,No,800.0,No,800.0,Yes,800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,120,JCP,1600,no,Pre-College,Team,Yes,800.0,No,800.0,...,NaN,NaN,No,800.0,NaN,NaN,Yes,800.0,No,800.0
210,120,Reject the Null,1600,no,Pre-College,Team,Yes,800.0,No,800.0,...,Yes,300.0,NaN,NaN,Yes,300.0,No,1500.0,No,800.0
211,120,Reuben,1600,no,Pre-College,Individual,Yes,800.0,No,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,123,Fisher 302,1400,no,College,Team,Yes,300.0,NaN,NaN,...,NaN,NaN,No,800.0,NaN,NaN,NaN,NaN,NaN,NaN
213,124,Kadie Ann,400,no,College,Individual,Yes,1500.0,No,800.0,...,Yes,300.0,NaN,NaN,Yes,300.0,Yes,800.0,Yes,100.0

In [5]:
# at this point I noticed the `day_14_guess` column had a `yes` in it instead of a `Yes`
# so I decided to check all string columns to make sure they made sense

# quick check to make sure all team_names are strings:
for name in list(df["team_name"].values):
    assert type(name) == str, "that's not a string"
# thankfully all strings

# now I actually care that each "edu_level" is specifically "Pre-College" or "College"
# so let's check that:
for level in list(df["edu_level"].values):
    assert (level == "Pre-College") | (level == "College"), "that's not an edu level"
# excellent, that's good

# same for competitor type, either "Team" or "Individual":
for comp_type in list(df["competitor_type"].values):
    assert (comp_type == "Team") | (comp_type == "Individual"), "that's not a competitor type"
# that's all good


# now on to the guesses.  First I'll change the one random "yes" I saw:

df.at[0, "day_14_guess"] = "Yes"

# now let's check to make sure everything is either "Yes", "No" or NaN for each guess
for guess_day in ["day_1_guess", "day_2_guess", "day_3_guess", "day_4_guess",
                  "day_5_guess", "day_6_guess", "day_7_guess", "day_8_guess",
                  "day_9_guess", "day_10_guess", "day_11_guess", "day_12_guess",
                  "day_13_guess", "day_14_guess", "day_15_guess", "day_16_guess"]:
    for guess in list(df[guess_day].values):
        if guess not in {"Yes", "No"}:
            assert np.isnan(guess), "the guess is not Yes, No, or NaN"
# excellent! Turns out it was just that one typo

df

,rank,team_name,final_StatCoin_balance,bet_each_round,edu_level,competitor_type,day_1_guess,day_1_bet,day_2_guess,day_2_bet,...,day_12_guess,day_12_bet,day_13_guess,day_13_bet,day_14_guess,day_14_bet,day_15_guess,day_15_bet,day_16_guess,day_16_bet
0,1,A Fraction Ahead,9000,yes,Pre-College,Team,Yes,300.0,No,300.0,...,No,800.0,Yes,300.0,Yes,1500.0,No,100.0,Yes,100.0
1,2,Elidia R,8900,yes,Pre-College,Individual,Yes,1500.0,No,800.0,...,Yes,800.0,No,800.0,Yes,800.0,No,800.0,Yes,800.0
2,3,Mathster's Stupefying 1 Stars,8400,yes,Pre-College,Team,Yes,800.0,No,300.0,...,No,800.0,Yes,300.0,No,300.0,No,800.0,Yes,800.0
3,4,Dylan M,8000,yes,Pre-College,Individual,Yes,800.0,No,1500.0,...,Yes,800.0,Yes,800.0,Yes,800.0,No,800.0,Yes,800.0
4,4,J Fly Money,8000,yes,Pre-College,Individual,Yes,800.0,No,1500.0,...,Yes,800.0,Yes,800.0,No,800.0,No,800.0,Yes,800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,120,JCP,1600,no,Pre-College,Team,Yes,800.0,No,800.0,...,NaN,NaN,No,800.0,NaN,NaN,Yes,800.0,No,800.0
210,120,Reject the Null,1600,no,Pre-College,Team,Yes,800.0,No,800.0,...,Yes,300.0,NaN,NaN,Yes,300.0,No,1500.0,No,800.0
211,120,Reuben,1600,no,Pre-College,Individual,Yes,800.0,No,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,123,Fisher 302,1400,no,College,Team,Yes,300.0,NaN,NaN,...,NaN,NaN,No,800.0,NaN,NaN,NaN,NaN,NaN,NaN
213,124,Kadie Ann,400,no,College,Individual,Yes,1500.0,No,800.0,...,Yes,300.0,NaN,NaN,Yes,300.0,Yes,800.0,Yes,100.0

In [6]:
df.to_csv("clean_march_randomness.csv")